[profile.default]
src = "src"
out = "out"
libs = ["lib"]

[rpc_endpoints]
hoodi = "https://ethereum-hoodi-rpc.publicnode.com"

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
